.lineage-wrapper{
    display: flex;
    position: absolute;
}
.text-box-share{
    width: 650px;
    /* height: 302px; */
    position: relative;
}
.familytree{
    background-color: #60292A;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 5em ;
    width: 468px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    /* transform: translateY(-70%); */
    transform: translate(72px, -9%);
    justify-content: space-evenly;
}

.family-head{
    background-color: white;
    color: black;
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5.9px;
    width: 100%;
}

.familytree span{
    margin-top: 0.5em;
    font-size: 14.16px;
}

.sons{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
}

.sons li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 14.16px;
    border-radius: 5.9px;
    padding: 5.9px;
    text-align: center;
    margin: 0 0.5em;
}

.expand-buttton{
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 5.9px;
    padding: 5.9px;
    text-align: center;
    cursor: pointer;
    height: 30px;
    cursor: pointer;
}

.expand-buttton::before{
  content: "˅"!important;
  color: black;
  font-size: 4em;
  font-family: monospace;
}

.expanded-content span{
    margin-top: 0.5em;
    font-size: 14.16px;
}


/* revelations */

.comic-submenu{
    display: flex;
    margin-left: 5em;
    /* transform: translateY(-29%); */
    transform: translate(12%, -10%);
    flex-direction: column;
}

.submenu-clickable{
    background-color: #2B455D;
    padding: 40px;
    font-size: 24px;
    display: flex;
    height: 96px;
    width: 531px;
    margin: 0.5em 0;
    cursor: pointer;
    text-transform: uppercase;
    color: #C9D7EE;
    align-items: center;
    position: relative;
  box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.45);
}
.submenu-clickable::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("../assets/texture-1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

.submenu-clickable-reverse{
    flex-direction: row-reverse;
}
.submenu-clickable span{
    font-size: 42px;
    font-family: 'Hammersmith One', sans-serif;

}

.comic-title{
    text-align: left;
}

.comic-cover{
    height: 228px;
    width: 162px;
    position: absolute;
    top: -50%;
    right: 10%;
}
.submenu-clickable-reverse .comic-cover{
    top: 15%;
    left: 10%;
}

.submenu-clickable-reverse .comic-title{
    text-align: right;
}
.text-box-light{
    background-color: #C9D7EE;
    color: #001829;
}

.text-box-light>hr{
    background-color: #001829;
}
.text-box-light>p{
    color: #001829;
}
.comic-main{
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    transform: translate(68px, -60px);
}

.comic-block{
    width: 548px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.comic{
    background-color: #D9D9D9;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 630px;
}

.next-comic{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 25px 40px;
    font-size: 24px;
    width: 317px;
    text-align: center;
    align-self: flex-end;
    margin-top: 0.8em;
    cursor: pointer;
}

.next-comic span{
    font-size: 42px;
    font-family: 'Hammersmith One', sans-serif;
}

.submenu-clickable-legacy{
    width: auto;
    margin: 0.5em;
}

.submenu-clickable-legacy > .comic-title{
    text-align: center;
}
.legacy-submenu{
    display: flex;
    margin-left: 5em;
    flex-wrap: wrap;
    width: 610px;
    align-items: self-end;
    /* transform: translateY(-29%); */
    transform: translate(67px, -34px);
    justify-content: flex-end;
    align-items: center;
}

.legacy-submenu .comic-cover{
    width: 231px;
    border-radius: 15.7px;
    height: 150px;
    cursor: pointer;
    align-self: baseline;
}

.legacy-submenu #last-submenu{
    margin-left: auto;
}

.video{
    height: 350px;
}

.image{
    height: 200px;
}

.image-block{
    width: 350px;
    margin: 0.5em;

}

.image-block-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 780px;
}