@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');


body, html{
  margin: 0;
}
.main{
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.no-char{
  display: none !important;
}

.char-header{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.character-1{
  position: absolute;
  transform: translate(20%);
}
.char-header > img{
  height: 422px;
  width: 355px;
  transform: translateX(-12%);
  z-index: 2;

}
.char-section{
  display: flex;
  position: relative;
  /* transform: translate(414px, -42px); */
  transform: translate(414px, 8px);
}
.character{
  width: max-content;
  position: absolute;
  transform: translate(81px, 59px);
  /* transform: translate(890px, 459px); */
  font-family: 'Josefin Sans', sans-serif;

}

.date{
  font-size: 260px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 0.8;
}

.name{
  background-color: #384E63;
  font-size: 42px;
  color: white;
  padding: 40px 100px;
  /* border-radius: 20px; */
  /* border: 2px solid black; */
  box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.45);
  border-left: none;
  transform: translateX(-25%);
  z-index: 1;
  position: relative;
}

.name::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("./assets/texture-1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.name-new{
  background-color: #C9D7EE;
  color: #2B455D;
}
.name-new .info-date{
  color: #2B455D;
} 
.name-new::before{
  opacity: 0.3 !important;
}

.name-menu{
  background-color: #FFD9BC;
  color: #6A1F11;
}

.name-menu-item{
  background-color: #F38C64;
  color: #6A1F11;
}
.show-char{
  display: flex;
}

.show-char> img{
  height: 422px;
  width: 355px;
  z-index: 2;
  cursor: pointer;
}
.info-name{
  background-color: black;
  color: white;
  border-radius: 20px;
}


.char-label{
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  transform: translateX(-15%);
}
.info-name{
  padding: 30px 100px;
  font-size: 42px;
  margin-bottom: 0.1em;
}
.info-date{
  font-size: 32px;
  /* padding: 10px 100px; */
  font-weight: bold;
  text-align: end;

}
.next{
  background-color: #2B455D;
  border: none;
  box-shadow: none;
  padding: 0;
  /* position: absolute; */
    /* top: 40%; */
    /* left: 108%; */
  height: 110px;
  /* margin-left: 6em; */
  padding: 25px 40px;
  cursor: pointer;
  /* z-index: 100; */
  transform: translate(812px, -81px);
  box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.45);

}
.next::after{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("./assets/texture-2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.next-newpos{
  transform: translate(1100%, -81px);
}
.next::before{
  content: ">"!important;
  color: white;
  font-size: 4em;
  font-family: monospace;
}
.next-red{
  background-color: #6A1F11;
}
.text-box{
  width: 789px;
  background-color: white;
  padding: 40px;
  /* border: 2px solid black; */
  /* border-radius: 20px; */
  /* transform: translate(50px, -30px); */
  transform-origin: 0% 0%;
  transform: translate(125px, -32px);
  /* transform: translate(22px, -32px); */
  position: absolute;
  box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.45);
  overflow: hidden;
}
.tb-dark-blue{
  background-color: #193145;
  color: white;
}
.text-box-clrd{
  background-color: #FFD9BC;
  color: #6A1F11;
}

.text-box-clrd>hr{
  background-color: #6A1F11 !important;
  }

.text-box-clrd>p{
  color: #6A1F11 !important;
}
.text-box::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  opacity: 0.2;
  background-image: url("./assets/texture-1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  animation: texture 6s linear infinite;
  transform-origin: left 50%;


}
.text-box>h1{
  font-size: 64px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.text-box>hr{
  background-color: black;
  height: 3px;
  border: none;
  /* -webkit-transition: width 1s ease-out;
  transition: width 1s  ease-out; */
  /* width : 0%; */
  width: 100%;
  transform-origin: 0% 0%;
  animation: expand 1s ease-out;
  animation-delay: 2.5s;
  transform: scaleX(0);
  animation-fill-mode: forwards;
}
.tb-dark-blue>hr{
background-color: white;
}
@keyframes expand {
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);

  }
}

.text-box>p{
  font-size: 18px;
  color: black;
  font-family: 'Public Sans', sans-serif;
}
.tb-dark-blue>p{
  color: white;
}
.home-icon{
  background-color: #2B455D;
  border: none;
  box-shadow: none;
  padding: 0;
  height: 80px;
  margin-left: 6em;
  padding: 25px 40px;
  cursor: pointer;
  box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.45);
    /* transform: translateY(301px); */
    transform: translate(-95px, 301px);
    z-index: 999;
  }
  .home-icon::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("./assets/texture-2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  .home-icon-red{
    background-color: #6A1F11;
  }
  .v-hidden{
    visibility: hidden;
  }
  .o-hidden{
    opacity: 0;
    transition: all 1.5s ease-in;
    scale: 0.3;
    transform: translate(441%, 21%);
  }
  .shimmer {
    color: grey;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    /* animation: shimmer 2.5s infinite; */
  
  }
@keyframes shimmer {
    100% {-webkit-mask-position:left}
  }


  @keyframes texture {
    from {background-position: -300px 0;}
  to {background-position: 0 0;}
  }



.album-web {
  left: -36px;
  top: -50px;
}

.page {
  box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
}

.cover {
  /* background-color: rgb(251, 225, 139); */
  box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);

}
.comic-book-wrapper{
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
}

.cover-image{
  background: rgb(255, 251, 251);

}
.cover-image > img{
  width: 337px;
  height: 473px;
}
.back-btn{
  background-color: #2B455D;
  border: none;
  box-shadow: none;
  padding: 0;
  height: 214px;
  position: absolute;
  padding: 25px 40px;
  cursor: pointer;
  box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.45);
    /* transform: translateY(301px); */
    transform: translate(-207px, 64px);
    z-index: 999;
}
.back-btn::before{
  content: "<"!important;
    color: white;
    font-size: 4em;
    font-family: monospace;
}

.back-btn::after{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("./assets/texture-2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}